<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div>
    <div th:fragment="footer">


        <footer class="footer-custom">

            &copy; 2021 Gym Booking App by Kristovski
            <a th:href="@{https://github.com/KrisTovski}" th:target="_blank"><i class="fab fa-github fa-2x" style=" vertical-align: middle;"></i></a>
            <span sec:authorize="isAuthenticated()">
                | You are logged as
                <span th:text="${#strings.contains(#authentication.principal.authorities, 'ROLE_ADMIN')} ? 'ADMIN ' : 'USER '"/>
                | <span sec:authentication="name">name@email.com</span>
                | <a id="footer-logout" th:href="@{/logout}">Sign Out</a>
            </span>

        </footer>


    </div>
</div>
</body>
</html>