@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/*body {*/
/*    background: white !important;*/
/*}*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}

.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 80%;
    height: auto;
}

.login h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Caveat', cursive;
}

.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    -webkit-box-shadow: -1px -1px 30px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px -1px 30px -11px rgba(0, 0, 0, 1);
    box-shadow: -1px -1px 30px -11px rgba(0, 0, 0, 1);
}

.submitbtn{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: #72B01D;
    color: #24252A;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.submitbtn:hover{
    background: #3F7D20;
}

.register-link{
    border-radius: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #72B01D;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.register-link:hover {
    color: #3F7D20;
}

.login-link {
    border-radius: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #72B01D;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.login-link:hover {
    color: #3F7D20;
}

.button {
    padding: 9px 25px;
    background-color: rgba(114, 176, 29, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #24252A;
    text-decoration: none;
}

.button:hover {
    color: #24252A;
    background-color: rgba(63, 125, 32, 1);
}


