@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html, body {
    height: 100%;

}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-height {
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    /*background-color: rgba(255, 255, 255, 0.4);*/

}

.title {
    text-align: center;
}

.title h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Caveat', cursive;
}

h4 {
    font-family: 'Caveat', cursive;
}

.sorticon {
    color: #72B01D;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    margin-right: auto;
}

table {
    table-layout: fixed;
    /*width: 310px;*/
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    border: none;
    outline: none;


}


table tr, th, td a {
    /*border: solid 1px #fab;*/
    /*width: 100px;*/
    word-wrap: break-word;
    border: none;
    outline: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

.footer-custom {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* background-color: rgba(0, 0, 0, 0.3); */
    text-align: center;

}

.footer-custom a {
    color: #72B01D;
    border-color: #72B01D;
}

.footer-custom a:hover {
    color: #3F7D20;
    border-color: #3F7D20;
}

#footer-logout {
    font-style: italic;
    color: #24252A;
}

#footer-logout:hover {
    font-weight: bold;
    color: #3F7D20;
}

.datechange {
    width: 30%;
    margin: 0 auto;
}

text-muted {
    cursor: help;
}

.info {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}

dt {
    display: table-cell;
    padding-left: 5px;
    margin-bottom: -14px;
    background: rgba(255, 255, 255, 0.4);
    text-align: left;
    height: 50px;

}

dd {
    display: table-cell;
    margin-bottom: -14px;
    background: rgba(255, 255, 255, 0.4);
    text-align: right;
    font-weight: 500;
    height: 50px;

}

#delete_account_btn {
    border-color: red;
    color: red;
    margin: 4px;

}

#delete_account_btn:hover {
    background-color: darksalmon;
}

#change_password_btn {
    border-color: gray;
    color: gray;
    margin: 4px;
}

#change_password_btn:hover {
    background-color: lightgray;
}

#edit_email_btn {
    border-color: gray;
    color: gray;
    margin: 4px;
}

#edit_email_btn:hover {
    background-color: lightgray;
}

#edit_name_btn {
    border-color: gray;
    color: gray;
    margin: 4px;
}

#edit_name_btn:hover {
    background-color: lightgray;
}

#backbtn {
    background-color: #72B01D;
}

#backbtn:hover {
    background-color: #3F7D20;
}
