<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <div th:replace="fragments/navbar :: navbar-css"/>
    <link rel="stylesheet" href="src/main/resources/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="src/main/resources/css/calendar.css" th:href="@{/css/calendar.css}"/>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>

    <div class="timeOfDay">
        <button type="button" class="btn btn-primary">Morning</button>
        <button type="button" class="btn btn-primary">Afternoon</button>
        <button type="button" class="btn btn-primary">Evening</button>
        <button type="button" class="btn btn-primary">Night</button>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col">
                        <div class="day">1</div>
                        <div class="long">Monday</div>
                    </th>
                    <th scope="col">
                        <div class="day">2</div>
                        <div class="long">Tuesday</div>
                    </th>
                    <th scope="col">
                        <div class="day">3</div>
                        <div class="long">Wendsday</div>
                    </th>
                    <th scope="col">
                        <div class="day">4</div>
                        <div class="long">Thursday</div>
                    </th>
                    <th scope="col">
                        <div class="day active">5</div>
                        <div class="long">Friday</div>
                    </th>
                    <th scope="col">
                        <div class="day">6</div>
                        <div class="long">Saturday</div>
                    </th>
                    <th scope="col">
                        <div class="day">7</div>
                        <div class="long">Sunday</div>
                    </th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <!--                <tr th:each="order: ${timeslots}">-->
                <!--                    <th scope="row" th:text="${timeslot.id}">00:00 - 00:30</th>-->
                <!--                    <td th:text="${order.address}">-->
                <!--                        <th:block th:switch="${timeslot.status}">-->
                <!--                    <td th:case="${T(com.kristovski.gbapp.timeslot.TimeSlotStatus).AVAILABLE}">Available</td>-->
                <!--                    <td th:case="${T(com.kristovski.gbapp.timeslot.TimeSlotStatus).NOTAVAILABLE}">Not Available</td>-->
                <!--                    </th:block>-->
                <!--                        <a href="#" class="btn btn-primary">Available</a>-->
                <!--                    </td>-->


                <!--                    <td th:text="${order.telephone}">free</td>-->
                <!--                    <th:block th:switch="${timeslot.status}">-->
                <!--                        <td th:case="${T(com.kristovski.gbapp.timeslot.TimeSlotStatus).AVAILABLE}">Available</td>-->
                <!--                        <td th:case="${T(com.kristovski.gbapp.timeslot.TimeSlotStatus).NOTAVAILABLE}">Not Available</td>-->

                <!--                    </th:block>-->
                <!--                    -->
                <!--                </tr>-->
                <tr>
                    <th class="slots" scope="row">00:30-01:00</th>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                </tr>
                <tr>
                    <th class="slots" scope="row">00:30-01:00</th>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                    <td><a href="#" class="btn btn-primary btn-sm">Available</a></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
<div th:replace="fragments/footer :: footer"/>
</body>

</html>