<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <div th:replace="fragments/navbar :: navbar-css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>


<div class="container">
    <div class="row py-md-5">
        <section class="info py-md-5">
            <h4 class="title">YOUR DETAILS:</h4>
            <dl class="row">

                <dt class="col-sm-3">Your Id:</dt>
                <dd class="col-sm-9"><span th:text="${user.id}"></span></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Login:</dt>
                <dd class="col-sm-9"><span th:text="${user.login}"></span></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9"><span
                        th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                    <a href="#" th:href="@{/update/name}" id="edit_name_btn" class="btn btn-outline-secondary-sm">
                        Edit</a></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9"><span th:text="${user.email}"></span></dd>
            </dl>
            <dl class="row" sec:authorize="hasRole('ADMIN')">
                <dt class="col-sm-3">Enable:</dt>
                <dd class="col-sm-9"><span th:text="${user.enable}"></span></dd>
            </dl>
            <dl class="row" sec:authorize="hasRole('ADMIN')">
                <dt class="col-sm-3">Registered date:</dt>
                <dd class="col-sm-9"><span th:text="${#temporals.format(user.createTime, 'dd.MM.yyyy HH:mm')}"></span>
                </dd>
            </dl>
            <dl class="row" sec:authorize="hasRole('ADMIN')">
                <dt class="col-sm-3">Last update</dt>
                <dd class="col-sm-9"><span
                        th:text="${#temporals.format(user.updateTime, 'dd.MM.yyyy HH:mm')} ?: '---'"></span></dd>
            </dl>
            <dl class="row" sec:authorize="hasRole('ADMIN')">
                <dt class="col-sm-3">Locked:</dt>
                <dd class="col-sm-9"><span th:text="${user.locked}"></span></dd>
            </dl>

            <h4 class="title">SECURITY:</h4>
            <dl class="row">
                <dt class="col-sm-3">Password:</dt>
                <dd class="col-sm-9"><i class="fas fa-ellipsis-h"></i><i class="fas fa-ellipsis-h"></i><i
                        class="fas fa-ellipsis-h"></i>
                    <a href="#" id="change_password_btn" class="btn btn-outline-success-sm">
                        Change password</a></dd>

                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Delete account:</dt>
                <dd class="col-sm-9"><i>Sorry to see you go </i>
                    <a href="#" th:href="@{/delete/user/confirmation}" id="delete_account_btn" class="btn btn danger-sm">Delete account</a>
                </dd>
            </dl>
        </section>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>


</body>
</html>